/missing_cols_values.csv
/missing_rows_values.csv
/descriptive_statistics.csv
/data_distribution.jpg
/checking_outliers.jpg
/correlation_analysis.jpg
/checking_pollutants_over_period.jpg
/count_AQIBucket.jpg
/minimum_concentration.csv
/maximum_concentration.csv
/mean_concentration.csv
/pollutants_impact.jpg
/AQI_impact.jpg
